.main {
    h2 {
      text-align: center;
      color: #fff;
      position: relative;
      top: 20px;
      z-index: 1000;
      text-shadow: 3px 3px 10px #000;
    }
  }
  
  .roomList {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0 10px;
  }
  
  /* === Room Card === */
  .room-card {
    background-color: var(--background-color);
    border: 1px solid #000;
    border-radius: 30px;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 18rem;
    overflow: hidden;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }
  
    .room-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 30px 30px 0 0;
      display: block;
      margin: 0 auto;
    }
    
  
    .room-details {
      padding: 1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      .room-title {
        font-size: 22px;
        font-weight: bold;
        color: var(--text-color-light);
      }
  
      .room-text {
        font-size: 16px;
        font-weight: bold;
        color: var(--text-color-light);
      }
  
      .room-button {
        background-color: var(--button-color);
        color: var(--text-color-light);
        border-radius: 25px;
        padding: 0.4rem 1rem;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  
        &:hover {
          background-color: #0056b3;
          transform: translateY(-2px);
        }
      }
    }
  }
  
  /* === Responsive === */
  @media (max-width: 768px) {
    .roomList {
      flex-direction: column;
      align-items: center;
    }
  
    .room-card {
      width: 90%;
    }
  }
  