.navbar {
  background-color: var(--background-color);
  color: var(--text-color-light);
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  padding: 15px 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

  &__toggle{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color-light);
  }

  &__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 0;
    margin: 0;

    li {
      font-weight: bold;
      font-size: 14px;
    }

    .nav-link {
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 10px;
      color: var(--text-color-light);
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--button-color);
        color: var(--text-color-light);
        transform: translateX(5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 10px 25px;
    

    &__links {
      display: none;
      flex-direction: column;
      gap: 20px;

      &.active{
        display: flex;
      }
      li{
        margin-bottom: 1rem;
        a{
          font-size: 1.2rem;
        }
      }
    }
  }
  @media (max-width: 768px) {
    &__toggle {
      display: block;
    }

    &__links {
      gap: 1rem;
    }
  }
}
